#invitationpreview-root {
    border: 1px solid black;
    border-radius: 12px;
    display: flex;
    align-items: center;
    padding: 16px;
    margin: 8px 16px;
    cursor: pointer;
    &:hover {
        box-shadow: 0 0 5px -1px rgba(0, 0, 0, 0.6);
    }
}

#invitationpreview-text-root {
    display: flex;
    flex-direction: column;
    padding-left: 8px;
}
