.root {
    border-top: 1px solid black;
    border-bottom: 1px solid black;
    display: flex;
    align-items: center;
    padding: 16px;
    margin-top: 0px;
    margin-bottom: 8px;
    cursor: pointer;
    &:hover {
        box-shadow: 0 0 5px -1px rgba(0, 0, 0, 0.6);
    }
}

.textRoot {
    display: flex;
    flex-direction: column;
    padding-left: 8px;
}
