.root {
    display: flex;
    align-items: center;
    background-color: black;
    color: white;
    height: 56px;
    padding-left: 16px;
    padding-right: 16px;
    box-shadow: 0px 2px 12px 0px #000000;
}
