.root {
    display: flex;
    flex-direction: column;
    align-self: flex-end;
    margin-right: 8px;
    height: 36px;
    width: 36px;
}

.img {
    border-radius: 50%;
    height: 36px;
    width: 36px;
}

.badge {
    border-radius: 50%;
    height: 11px;
    width: 11px;
    border: 1px solid grey;
    margin-top: -14px;
    margin-left: 24px;
    z-index: 1000;
}
