// #interactionmessage-root {
//     display: inline-flex;
//     border: 1px solid black;
//     border-radius: 24px;
//     padding: 8px;
//     margin-bottom: 16px;
// }

#interactionmessage-text {
    margin: 0;
    overflow-wrap: anywhere;

    display: inline-flex;
    border: 1px solid black;
    border-radius: 24px;
    padding: 8px 16px;
    // margin-bottom: 16px;
}

.interactionmessage-self {
    background-color: black;
    color: white;
}

.interactionmessage-friend {
    background-color: white;
    color: black;
}
